ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.nav li {
  float: left;
  margin: 0;
}

ul.nav li a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  text-decoration: underline;
}

.active {
  background-color: green;
}

ul.output {
  list-style-type: none;
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: grey;
  column-width: 100px;
  vertical-align: middle;
  padding: 250px;
  text-align: center;
}

ul li {
  margin: 1em 0;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul.popularOutput {
  list-style-type: none;
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: grey;
  column-width: 100px;
  vertical-align: middle;
  padding: 300px;
  text-align: center;
}

div.bookOuput {
  padding: 100px;
  text-align: center;
}

div.bookOuput h3 {
    text-align: left;
    padding-left: 595px;
}

div.bookOuput p {
  text-align: left;
  padding: 8px;
  padding-left: 700px;
}

div.reviews {
  text-align: center;
}

ul.authorOutput {
  padding-top: 50px;
}

h1.purchaseOutput {
  text-align: center;
  padding-top: 50px;
}

img {
  width: 100px;
  height: 150px;
}

img.purchaseImg {
  width: 300px;
  height: 400px;
}

form.buy input {
  width: 75px;
  height: 25px;
  font-size: 15px;
}
